@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

/* Colors */
/*Typography */
/*Assets */
.icon-24 {
  width: 24px;
  height: 24px;
  stroke: #ffffff;
}

/* LIGHT MODE
$primary: #ef6100;
$secondary: #fba367;
$base-text: #202225;
$background: #f9f9f9;
$border: #eeeeee;
$white: #ffffff;

$gray-4: #999999;
$gray-5: #666666;
*/
/* Colors */
/*Typography */
/*Assets */
.icon-24 {
  width: 24px;
  height: 24px;
  stroke: #ffffff;
}

/* LIGHT MODE
$primary: #ef6100;
$secondary: #fba367;
$base-text: #202225;
$background: #f9f9f9;
$border: #eeeeee;
$white: #ffffff;

$gray-4: #999999;
$gray-5: #666666;
*/
.card {
  padding: 24px;
  background-color: #292c30;
  border: 1px solid #33363c;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
  min-width: 256px;
}

.divider-horizontal {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #33363c;
  margin: 24px 0;
}

input {
  width: 100%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

button {
  height: 40px;
  font-size: 14px;
  line-height: 0px;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

button.primary {
  font-size: 16px;
  background-color: #33363c;
  color: #ef6100;
}

button.secondary {
  font-size: 16px;
  background-color: inherit;
  color: #ffffff;
}

button:disabled {
  opacity: 0.5;
  color: #666666;
}

button.wallet {
  font-size: 16px;
  font-weight: 700;
  background-color: #292c30;
  color: #ffffff;
}

button.wallet p {
  margin-right: 16px;
}

button.bg-gray600 {
  background-color: #666666;
}

button.bg-surface {
  background-color: #292c30;
}

button.clr-base-text,
button.clr-base-text p {
  color: #ffffff;
}

button.clr-primary,
button.clr-primary p {
  color: #ef6100;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #202225;
  color: #ffffff;
}

header {
  padding: 32px;
  width: 70%;
}

header .logo {
  margin-bottom: 40px;
}

header h1 {
  font-size: 32px;
  font-weight: 600;
}

header a {
  color: #ef6100;
  display: inline-block;
}

header p {
  font-size: 20px;
  font-weight: 400;
}

header button {
  margin-top: 16px;
}

main {
  padding: 32px;
}

h2 {
  color: #ffffff;
}

.wrap-roadmap {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrap-roadmap .card {
  margin-right: 24px;
}

.wrap-roadmap .card:last-child {
  margin-right: 0px;
}

.wrap-roadmap .card .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #33363c;
}

.wrap-roadmap .card .title svg.playa {
  stroke: #ffe800;
}

.wrap-roadmap .card .title svg.community {
  stroke: #02a1fa;
}

.wrap-roadmap .card .title svg.beta {
  stroke: #5fce5f;
}

.wrap-roadmap .card .title svg.yields {
  stroke: #e7595a;
}

.wrap-roadmap .card .title p {
  margin-left: 16px;
}

.wrap-roadmap .card .content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.wrap-roadmap .card .content li .done svg {
  stroke: #5fce5f;
}

.wrap-roadmap .card .content li .in-progress svg {
  stroke: #666666;
}

.wrap-roadmap .card .content li p {
  margin-left: 16px;
}
