@import "_tokens.scss";

.card {
  padding: 24px;
  background-color: $surface;
  border: 1px solid $border;
  border-radius: 8px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
  min-width: 256px;
}

.divider-horizontal {
  width: 100%;
  height: 1px;
  display: block;
  background-color: $border;
  margin: 24px 0;
}

input {
  width: 100%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: $base-text;
  padding: 10px 16px;
  appearance: none;
  outline: none;
}

// BUTTONS

button {
  height: 40px;
  font-size: 14px;
  line-height: 0px;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  cursor: pointer;

  // Button Types
  &.primary {
    font-size: 16px;
    background-color: $gray300;
    color: $primary;
  }
  &.secondary {
    font-size: 16px;
    background-color: inherit;
    color: $base-text;
  }

  &:disabled {
    opacity: 0.5;
    color: $gray600;
  }

  &.wallet {
    font-size: 16px;
    font-weight: 700;
    background-color: $surface;
    color: $base-text;

    p {
      margin-right: 16px;
    }
  }

  // Background Color
  &.bg-gray600 {
    background-color: $gray600;
  }
  &.bg-surface {
    background-color: $surface;
  }

  // Text Color
  &.clr-base-text,
  &.clr-base-text p {
    color: $base-text;
  }
  &.clr-primary,
  &.clr-primary p {
    color: $primary;
  }
}
