html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: $background;
  color: $base-text;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;

  .logo {
    width: 300px;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;

  a {
    color: $base-text;
  }
}
.wrap-hero {
  display: flex;

  article {
    width: 50%;
    h1 {
      font-size: 80px;
      font-weight: $semi-bold;
      line-height: 110%;
    }

    a {
      color: $primary;
      display: inline-block;
    }

    .sub-header {
      width: 75%;
      font-size: 24px;
      line-height: 140%;
      margin-top: 56px;
    }

    .wrap-cta {
      margin-top: 32px;
      p {
        font-size: 20px;
        font-weight: $regular;
      }
    }

    button {
      margin-top: 24px;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $gray200;
      }
    }
  }

  .hero-img {
    width: 50%;
    padding: 24px;
    img {
      width: 100%;
    }
  }
}

main {
  h2 {
    font-size: 32px;
    font-weight: $bold;
    color: $base-text;
  }

  .top-features {

    .inner {
      display: flex;
      justify-content: center;
      flex-direction: column;

      h2 {
        align-self: center;
        margin-bottom: 80px;
      }
    }

    .wrap {
      display: flex;
      gap: 40px;
      margin-bottom: 32px;
      align-items: center;

      .wrap-list {
        width: 40%;
        display: flex;
        gap: 32px;
        flex-direction: column;

        li {
          display: flex;
          gap: 24px;

          .wrap-icon {
            svg {
              width: 40px;
              height: 40px;
              stroke: $primary;
            }
          }

          .wrap-content {
            .title {
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 8px;
            }
            .content {
              font-size: 14px;
              font-weight: 400;
              color: $gray700;
            }
          }
        }
      }

      .wrap-img {
        width: 60%;

        img {
          width: 100%;
          border: 12px solid $gray200;
          border-top: 32px solid $gray200;
          border-radius: 24px;
          padding: 24px 8px;
        }
      }
    }
  }


  .team {
    background-color: $surface;
    border-top: 1px solid $border;
    margin-bottom: 2px;
    .wrap-team {
      display: flex;
      justify-content: center;
      flex-direction: column;
      
      h2 {
        align-self: center;
        margin-bottom: 80px;
      }
      .wrap-members {
        display: flex;
        justify-content: center;
        gap: 56px;
        

        .team-member {
          text-align: center;
          width: 20%;
          .avatar {
            width: 160px;
          }
          .name {
            font-size: 20px;
            font-weight: $bold;
            color: $primary;
            padding: 24px 0 4px 0;
          }
          .role {
            width: 80%;
            margin: 0 auto;
            font-size: 16px;
            font-weight: $regular;
          }
          .bio {
            font-size: 14px;
            margin: 24px 8px;
            padding: 16px 8px;
            border-radius: 8px;
            color: $gray700;
            background-color: $gray150;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: $surface;
  border-top: 1px solid $border;

  .wrap-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 150px;
    }
    .social {
      color: $base-text;

      a {
        margin-left: 24px;
      }

      svg {
        width: 24px;
        fill: $base-text;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  header {
    padding-top: 24px;
    .logo {
      width: 200px;
      vertical-align: middle;
    }
    nav {
      gap: none;
    }
  }
  .wrap-hero {
    flex-direction: column-reverse;
    article {
      width: 100%;
      h1 {
        font-size: 32px;
        text-align: center;
      }
      .sub-header {
        width: 100%;
        font-size: 20px;
        margin-top: 24px;
        padding-bottom: 32px;
        text-align: center;
        border-bottom: 1px solid $border;
      }
      .wrap-cta {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        align-items: center;
        justify-content: space-between;
        p {
          width: 80%;
          font-size: 16px;
          text-align: center;
        }
        button {
          margin-top: 24px;
        }
      }
    }
    .hero-img {
      width: 90%;
      margin: 0 auto 24px;
    }
  }

  main {
    margin-top: 32px;
    h2 {
      font-size: 24px;
    }


    .team {
      .wrap-team {
        h2 {
          margin-bottom: 32px;
        }
        .wrap-members {
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 8px;
          padding: 0;
          .team-member {
            width: 45%;
            margin-bottom: 32px;

            .avatar {
              width: 80%;
            }
            .name {
              font-size: 18px;
              padding: 8px 0 4px;
            }
            .role {
              font-size: 14px;
            }
            .bio {
              margin: 24px 0px;
              padding: 16px 16px;
            }
          }
        }
      }
    }
  }

  h2 {
    font-size: 24px;
  }
}
