html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: $background;
  color: $base-text;
}

header {
  // background: linear-gradient(
  //   0deg,
  //   rgba(32, 34, 37, 1) 0%,
  //   rgba(51, 54, 60, 1) 100%
  // );
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  .logo {
    width: 250px;
  }
}
.wrap-hero {
  display: flex;

  article {
    width: 50%;
    h1 {
      font-size: 80px;
      font-weight: $semi-bold;
      line-height: 110%;
    }

    a {
      color: $primary;
      display: inline-block;
    }

    .sub-header {
      width: 80%;
      font-size: 32px;
      line-height: 140%;
      margin-top: 56px;
    }

    .wrap-cta {
      margin-top: 64px;
      p {
        font-size: 24px;
        font-weight: $regular;
      }
    }

    button {
      margin-top: 24px;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $gray200;
      }
    }
  }

  .hero-img {
    width: 50%;
    img {
      width: 100%;
    }
  }
}

main {
  h2 {
    font-size: 40px;
    font-weight: $bold;
    color: $base-text;
  }

  .team {
    background-color: $surface;
    border-top: 1px solid $border;
    .wrap-team {
      h2 {
        margin-bottom: 64px;
      }
      .wrap-members {
        display: flex;
        justify-content: space-between;
        .team-member {
          text-align: center;
          .avatar {
            width: 150px;
            border-radius: 32px;
          }
          .name {
            font-size: 20px;
            font-weight: $bold;
            color: $primary;
            padding: 24px 0 4px 0;
          }
          .role {
            font-size: 16px;
            font-weight: $regular;
          }
        }
      }
    }
  }

  .roadmap {
    position: relative;

    h2 {
      margin-bottom: 64px;
    }

    .timeline-line {
      position: absolute;
      width: 4px;
      height: 85%;
      left: 126px;
      margin-top: -32px;
      background-color: $surface;
      z-index: -1;
    }

    .roadmap-item {
      margin-bottom: 32px;
      margin-left: 40px;
      .wrap-date {
        display: flex;
        align-items: center;

        .circle {
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 56px;
          background-color: $primary;
        }
        .date {
          color: $primary;
          font-size: 24px;
          font-weight: $bold;
          margin-left: 24px;
        }
      }
      .wrap-content {
        display: flex;
        flex-direction: column;

        .content {
          display: inline-flex;
          flex-direction: column;
          padding: 24px 32px;
          background-color: $surface;
          border-radius: 24px;
          border: 1px solid $border;
          margin-top: 24px;
          margin-left: 40px;

          .title {
            font-size: 24px;
            font-weight: $bold;
          }
          .description {
            margin-top: 8px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    nav {
      margin-bottom: 32px;
      .logo {
        width: 150px;
      }
    }
    .wrap-hero {
      flex-direction: column-reverse;
      article {
        width: 100%;
      }

      h1 {
        font-size: 32px;
        text-align: center;
      }
      .sub-header {
        width: 100%;
        font-size: 20px;
        margin-top: 24px;
        padding-bottom: 32px;
        text-align: center;
        border-bottom: 1px solid $border;
      }
      .wrap-cta {
        display: flex;
        margin-top: 32px;
        align-items: center;
        justify-content: space-between;
        p {
          width: 50%;
          font-size: 16px;
        }
        button {
          margin-top: 0;
        }
      }
      .hero-img {
        width: 90%;
        margin: 0 auto 24px;
      }
    }
  }

  main {
    margin-top: 32px;
    h2 {
      font-size: 24px;
    }
    .team {
      .wrap-team {
        h2 {
          margin-bottom: 32px;
        }
        .wrap-members {
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 16px;
          .team-member {
            width: 45%;
            margin-bottom: 16px;

            .avatar {
              width: 80%;
              border-radius: 24px;
              border: 1px solid $border;
            }
            .name {
              font-size: 18px;
              padding: 8px 0 4px;
            }
            .role {
              font-size: 14px;
            }
          }
        }
      }
    }
    .roadmap {
      h2 {
        margin-bottom: 32px;
      }

      .timeline-line {
        width: 3px;
        height: 95%;
        left: 37px;
        margin-top: -16px;
      }

      .roadmap-item {
        margin-bottom: 24px;
        margin-left: 8px;
        .wrap-date {
          .circle {
            width: 12px;
            height: 12px;
          }
          .date {
            font-size: 18px;

            margin-left: 16px;
          }
        }
        .wrap-content {
          .content {
            padding: 16px 24px;

            border-radius: 16px;

            margin-left: 32px;

            .title {
              font-size: 18px;
            }
            .description {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  h2 {
    font-size: 24px;
  }
}
